<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skin Color Analyzer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Skin Color Analyzer</h1>
    <form method="post" enctype="multipart/form-data">
        <input type="file" name="file">
        <input type="submit" value="Upload">
    </form>
    {% if triadic_colors %}
        <h2>Suggested Colors:</h2>
        <ul>
            {% for color in triadic_colors %}
                <li style="background-color: rgb{{color}};">RGB {{color}}</li>
            {% endfor %}
        </ul>
    {% endif %}
</body>
</html>
